In [12]:
import warnings

warnings.filterwarnings("ignore")

In [13]:
from pathlib import Path

prod_data_folder: Path = Path("30_prod/")
features_data_folder: Path = Path("40_features/")

aapl_stock_filename: str = "AAPL.csv"
jpm_stock_filename: str = "JPM.csv"

In [23]:
from datetime import date

ticker_list: list[str] = ["AAPL", "JPM"]
start_date: str = date(2024, 1, 1).strftime("%Y-%m-%d")
end_date: str = date(2025, 1, 1).strftime("%Y-%m-%d")
period: str = "1d"

In [28]:
df: pd.DataFrame = yf.download(
    ticker_list, period=period, start=start_date, end=end_date
)

[*********************100%***********************]  1 of 2 completed

2 Failed downloads:
['AAPL', 'JPM']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

In [19]:
import yfinance as yf
import pandas as pd

aapl_df: pd.DataFrame = yf.download(
    ticker_list[0], period=period, start=start_date, end=end_date
)

jpm_df: pd.DataFrame = yf.download(
    ticker_list[1], period=period, start=start_date, end=end_date
)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['AAPL']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')
[*********************100%***********************]  1 of 1 completed

1 Failed download:
['JPM']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

In [ ]:
aapl_df.head()

Empty DataFrame
Columns: [(Adj Close, AAPL), (Close, AAPL), (High, AAPL), (Low, AAPL), (Open, AAPL), (Volume, AAPL)]
Index: []

In [ ]:
jpm_df.head()

Empty DataFrame
Columns: [(Adj Close, JPM), (Close, JPM), (High, JPM), (Low, JPM), (Open, JPM), (Volume, JPM)]
Index: []

In [7]:
import numpy as np

assert pd.api.types.is_datetime64_any_dtype(aapl_df.index)
assert pd.api.types.is_datetime64_any_dtype(jpm_df.index)

assert (aapl_df.Open.dtypes == np.float64).item()
assert (aapl_df.High.dtypes == np.float64).item()
assert (aapl_df.Low.dtypes == np.float64).item()
assert (aapl_df.Close.dtypes == np.float64).item()
assert (aapl_df.Volume.dtypes == np.int64).item()

assert (jpm_df.Open.dtypes == np.float64).item()
assert (jpm_df.High.dtypes == np.float64).item()
assert (jpm_df.Low.dtypes == np.float64).item()
assert (jpm_df.Close.dtypes == np.float64).item()
assert (jpm_df.Volume.dtypes == np.int64).item()

AssertionError:

In [ ]:
aapl_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6289 entries, 2000-01-03 to 2024-12-31
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AAPL)   6289 non-null   float64
 1   (Close, JPM)    6289 non-null   float64
 2   (High, AAPL)    6289 non-null   float64
 3   (High, JPM)     6289 non-null   float64
 4   (Low, AAPL)     6289 non-null   float64
 5   (Low, JPM)      6289 non-null   float64
 6   (Open, AAPL)    6289 non-null   float64
 7   (Open, JPM)     6289 non-null   float64
 8   (Volume, AAPL)  6289 non-null   int64
 9   (Volume, JPM)   6289 non-null   int64
dtypes: float64(8), int64(2)
memory usage: 540.5 KB

In [ ]:
jpm_df.info()

Ticker           AAPL       JPM
Date
2000-01-03  535796800  12019200
2000-01-04  512377600  11723400
2000-01-05  778321600   8714550
2000-01-06  767972800   8369250
2000-01-07  460734400   6571950
...               ...       ...
2024-12-24   23234700   3729100
2024-12-26   27237100   4451800
2024-12-27   42355300   5730200
2024-12-30   35557500   5723800
2024-12-31   39480700   4871000

[6289 rows x 2 columns]

In [ ]:
aapl_df.to_csv(prod_data_folder / aapl_df)
jpm_df.to_csv(prod_data_folder / jpm_df)